<div class="container-fluid">

  <div class="top-head">
    <div class="container">
      <div class="quick-contact">
        <ul class="contacts">
          <li><i class="fa fa-camera"></i><a href="tel:7495589876574957875207">+7 (495) 589-87-65 | +7 (495) 787-52-07</a></li>
          <li><a href="mailto:4030679@mail.ru">4030679@mail.ru</a></li>
          <li><i class="fa fa-phone" aria-hidden="true"></i><a href="/licenziya/">№ 037475 от 11 мая 2016 г. </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="background-header">
    <div class="container -4">
      <header>

      </header>
    </div>
  </div>

  <div class="background-body">
    <div class="container ">
      <div class="pt-4">
        text
      </div>
    </div>
  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="copyright">
        3-й проезд Марьиной рощи, дом 40, строение 1, офис 906 e-mail: uk@srteamco.ru Телефон: +7 (495) 589-87-65 | +7
        (495) 787-52-07
      </div>
    </div>
  </footer>

</div>
